* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    position: relative;   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.app-circle--border-red, .app-circle--border-green {
    content: '';
    position: absolute;
    width: 105%;
    height: 105%;
    left: -3px;
    top: -13px;
    border: 1px solid transparent;
    border-radius: 50%;
    animation: growing-red 2s;
    animation-iteration-count: 5;
}

.app-circle--border-green {
    animation: growing-green 2s;
    animation-iteration-count: 5;
}

@keyframes growing-red {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 10px tomato;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes growing-green {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 10px rgb(107,142,35);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.app-circle svg {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: -1;
}

.app-circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(250, 128, 114);
    stroke-width: 10;
    transform: translate(5px, 5px) scale(1);
}


.app-circle svg circle:nth-child(2) {
    stroke: rgb(158, 188, 219);
    stroke-dasharray: 943;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.timer-minutes, .timer-seconds {
    font-size: 70px;
    position: relative;
}

.timer-minutes:after {
    content: ":";
    position: absolute;
    font-size: 70px;
    top: -6px;
    right: -20px;
}

.control-btns {
    display: flex;
    gap: 20px;
}

.play-btn, .reset-btn, .pause-btn {
    width: 100px;
    font-size: 25px;
    padding: 1rem 1rem;  
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.2s;
}

.play-btn:hover, .reset-btn:hover, .pause-btn:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
}