* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Unbounded', cursive;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 221, 221);
    z-index: -10;
}

.app-wrapper {
    position: relative;   
    width: 50%;
    min-height: 60vh;
    background-color:		RGB(226, 239, 234);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: -10;
}

.settings-menu {
    width: 70%;
    padding: 1rem;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    opacity: 0;
    transition: 0.5s;
}

.settings-menu input {
    width: 115px;
    padding: 0.25rem;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    border-bottom-color: rgb(152, 195, 207);
    background-color: rgba(255, 255, 255, 0.5);
}

.settings-menu input:nth-child(2) {
    width: 100px;
}

.settings-menu input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
}

.current-values {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
    position: absolute;
    bottom: 5px;
}

.app-circle {
    width: 296px;
    height: 296px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.app-circle:before {
    content: '';
    width: 100%;
    height: var(--height, 0);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    background-color: rgb(152, 195, 207);
    z-index: -5;
}

.app-circle--border-red, .app-circle--border-green {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    animation: growing-red 2s;
    animation-iteration-count: 5;
}

.app-circle--border-green {
    animation: growing-green 2s;
    animation-iteration-count: 5;
}

@keyframes growing-red {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        transform: scale(1.15);
        box-shadow: 0 0 10px rgb(250, 128, 114);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes growing-green {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        transform: scale(1.15);
        box-shadow: 0 0 10px rgb(107,142,35);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

.app-circle svg {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: -1;
}

.app-circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(250, 128, 114);
    stroke-width: 10;
    transform: translate(5px, 5px) scale(1);
}


.app-circle svg circle:nth-child(2) {
    stroke: rgb(152, 195, 207);
    stroke-dasharray: 912;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.timer-minutes, .timer-seconds {
    font-size: 55px;
    padding: 0.25rem;
    position: relative;
}

.timer-seconds {
    min-width: 110px;
}

.timer-minutes:after {
    content: ":";
    position: absolute;
    font-size: 48px;
    top: 4px;
    right: -18px;
}

.control-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.start-btn, .reset-btn, .pause-btn {
    width: 100px;
    font-size: 20px;
    padding: 1rem 1rem;  
    border-radius: 10px;
    border: 1px solid rgb(152, 195, 207);
    transition: border 0.2s;
}

.start-btn:hover, .reset-btn:hover, .pause-btn:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.menu-icons {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.icon-settings {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 25px;
}

.icon-settings:hover {
    padding-right: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon-settings:after {
    content: 'Settings';
    opacity: 0;
    width: 0;
    height: 22px;
    display: block;
    position: absolute;
    top: 4px;
    left: -10px;
    font-size: 16px;

}

.icon-settings:hover:after {
    transform: translateX(40px);
    padding-right: 10px;
    opacity: 1;
    width: 50px;
    transition: all 0.5s ease;
}

.icon-notes {
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 25px;
}

.icon-notes:hover {
    padding-right: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon-notes:hover:after {
    transform: translateX(40px);
    opacity: 1;
    width: 45px;
    transition: all 0.5s ease;
}

.icon-notes:after {
    content: 'Notes';
    width: 0;
    height: 12px;
    opacity: 0;
    position: absolute;
    top: 4px;
    left: -10px;
    font-size: 16px;
    padding-bottom: 10px;
}

.icon-music_note, .icon-music_off {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 25px;
}

.icon-music_note {
    padding-left: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon-music_note:after {
    content: 'Sound';
    width: 0;
    height: 12px;
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 16px;
    padding-bottom: 10px;
}

.icon-music_note:hover:after {
    transform: translateX(-20px);
    opacity: 1;
    width: 48px;
    transition: all 0.5s ease;
}

.icon-loop, .icon-sync_disabled {
    position: absolute;
    top: 50px;
    right: 15px;
    font-size: 25px;
}

.icon-loop:hover {
    padding-left: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon-loop:after {
    content: 'Repeat';
    width: 0;
    height: 12px;
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 16px;
    padding-bottom: 10px;
}

.icon-loop:hover:after {
    transform: translateX(-20px);
    opacity: 1;
    width: 52px;
    transition: all 0.5s ease;
}

.icon-sync_disabled:hover, .icon-music_off:hover {
    cursor: pointer;
}

.disabled, .active {
    color: rgb(250, 128, 114);
    transition: all 0.2s ease;
}

.notes-history {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color:rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s ease;
}

.show {
    left: 0;
}

.filter {
    filter: blur(4px);
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 0px;
    padding: 1rem;
    cursor: pointer;
}

.close-btn span:first-child {
    transform: rotate(45deg);
    margin-bottom: -3px;
}

.close-btn span:nth-child(2) {
    transform: rotate(-45deg);
}

.close-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
    border-radius: 5px;
}

.title {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}

.session-history {
    margin-top: 40px;
    padding: 0.5rem 3rem;
    overflow: auto;
    max-height: 70%;
}

.session-history ul li {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 1;
    align-items: baseline;
    position: relative;
    margin-top: 15px;
    transition: all 0.5s ease;
}

.session-history ul li .session-descr {
    margin-top: 5px;
    color: rgb(207, 207, 136);
    padding: 0 1rem;
}

.session-history ul li .icon-create {
    position: absolute;
    top: 2px;
    right: -30px;
    color: rgb(148, 237, 148);
}

.session-history ul li .icon-highlight_remove {
    position: absolute;
    top: 25px;
    right: -30px;
    color:rgb(250, 128, 114)
}

.session-history ul li .icon-create, .icon-highlight_remove {
    cursor: pointer;
}

.notes-history .comments .note-comment, .note-comment:focus {
    display: block;
    min-height: 40px;
    width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: transparent;
    font-size: 18px;
    outline: none;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease;
}

.notes-history .comments .note-comment--show {
    opacity: 1;
    top: 150px;
}

.session-date .icon-access_time {
    display: inline-block;
    padding-right: 0.5rem;
}

.icon-done {
    font-size: 28px;
    transition: 0.3s ease;
    cursor: pointer;
}

.done {
    color: rgb(112, 195, 112);
}

.session-time, .break-time {
    display: inherit;
    gap: 5px;
}







@media (max-width: 1020px) {
    .current-values {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .settings-menu {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .session-history ul li {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: baseline;
    }
}

@media (max-width: 700px) {
   .app-wrapper {
        width: 95%;
        height: 80vh;
   }

   .menu-icons {
    font-size: 12px;
   }

   .session-history ul li {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    }
}

@media (max-width: 450px) {
    .session-history {
        padding-left: 10px;
    }

    .session-history ul li {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 16px;
    }

    .session-history ul li .session-descr {
        padding: 0;
    }

    .notes-history .title {
        margin-top: 10px;
        font-size: 20px;
    }

    .notes-history .comments .note-comment, .note-comment:focus {
        width: 250px;
    }

    .icon-settings:hover:after,
    .icon-notes:hover:after,
    .icon-music_note:hover:after,
    .icon-loop:hover:after {
        pointer-events: none;
    }
}